<!-- <div class="container ">
    <div class="row">
        <div class="col">
            <h1 class="display-3">SHOP</h1>
        </div>
        <div class="col-8">
            <app-product-list></app-product-list>
        </div>
        <div class="col">
            <app-cart class="cart"></app-cart>
        </div>
    </div>
</div> -->

<div class="main-container">
    <div class="main-header">
        <h1 class="display-4">SHOP</h1>
        
        <div class="cart-container">
            <app-cart></app-cart>
        </div>
    </div>
    <div class="content-container">
        <app-product-list></app-product-list>
    </div>
</div>